{{ define "main" }}
<section class="section-sm text-center">
  <div class="container">
    <div class="row justify-center">
      <div class="sm:col-10 md:col-8 lg:col-6">
        <span class="text-[8rem] block font-bold text-dark dark:text-darkmode-dark">404</span>
        <h1 class="h2 mb-4">Ups, hier scheint etwas schiefgelaufen zu sein! 🛠️</h1>
        <div class="content">
          <p>
            Die Seite, die Sie suchen, existiert nicht (mehr) oder wurde verschoben. Aber keine Sorge – nutzen Sie das
            Menü oben, oder clicken sie unten auf den Button, um wieder zurück auf den richtigen Pfad zu finden!
          </p>
        </div>
        <a href="{{ site.BaseURL | relLangURL }}" class="btn btn-primary mt-8">Zurück zur Homepage</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
